{% extends "base.html" %}

{% block content %}
<!-- {% for question in questions %} -->
<p>
  <a href="/question/{{question.id}}">{{ question.title }} <span class="text-secondary num-answers">({{
      question.num_answers }} comments)</span></a>
</p>
{% for a in question.answers %}
<div class='answer-block'>
  {{a.text}}
</div>
<a href="/answer/{{a.id}}/addComment">addComment</a>
{% endfor %}
<!-- {% endfor %} -->
{% if not questions_exist %}
<p>You haven't asked any questions yet.</p>
{% endif %}
{% endblock %}