{% extends "base.html" %}

{% block content %}

Phân tích cổ phiếu <span style="color: green; font-size: 16; font-weight: bolder;";>{{stock}}</span> trong {{ n }} phiên gần nhất: <br/>
Giá hiện tại : {{price}} | Biến động: {{rate_price}} (so với {{n}} phiên) | {{note_price}}<br/>
Khối lượng hiện tại: {{vol}} đạt {{ rate_vol }} (%) (so với TB {{n}} phiên)<br />
Giá cao nhất: {{ price_max }} <br />
Giá thấp nhất: {{price_min}} <br />
Khối lượng cao nhất: {{vol_max}}<br />
Khối lượng thấp nhất: {{vol_min}}<br />
Khối lượng trung bình: {{vol_avg}}<br />
Điểm pivots:
<ul>
{% for x in pivots %}
<li>
{{x}}
</li>
{% endfor %}
</ul>
<p>
    <hr class='answer-hr' />
    Đánh giá: <br>Điểm sức mạnh : {{mark}} <br>
    {{note|linebreaksbr}} <br />
</p>


{{ price_history|safe }}
{% endblock %}